@page
@model Reader.Pages.FeedsModel
@{
    ViewData["Title"] = Model.PageTitle;
}
<h1>Feeds</h1>

<form method="post" asp-page-handler="AddNewFeed">
    <input asp-for="NewFeedUri" />
    <button type="submit">Add</button>
</form>

@if (Model.Feeds.Count() == 0)
{
    <p>You don't have any feeds yet</p>
}
else
{
    <ul>
        @foreach (var feed in Model.Feeds)
        {
            <li>@feed.Title @feed.LastChecked.ToString() <form method="post" asp-page-handler="RefreshFeed" asp-route-id="@feed.Id"><button type="submit">Refresh</button></form><form method="post" asp-page-handler="DeleteFeed" asp-route-id="@feed.Id"><button type="submit">Delete</button></form></li>
        }
    </ul>
}