@page
@model Reader.Pages.UnreadModel
@{
    ViewData["Title"] = Model.PageTitle;
}

@if (!Model.Items.Any())
{
    <p>You have no unread items</p>
}
else
{
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <a asp-page="SingleItem" asp-route-id="@item.Id">@item.Title</a>
            </li>
        }
    </ul>
}