<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reader</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/unread">Unread</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/read">Read</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/feeds">Feeds</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
